
.header{
    font-weight: bold;
    font-size: 24px;
    display: inline;
}
.search-bar {
    margin: 20px;
    text-align: left;
    width: 75%;
}

.input.search-bar  {
    width: 100%;
    padding: 0 5px;
}

.video-item img {
    max-width: 64px;
}

.video.details .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover{
    background-color: #eee;
}

.details{
    margin: 10px 0;
}